.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.m-row {
    margin-top: 16px;
}

.m-label {
    margin-bottom: 4px;
}

.m-display-flex {
    display: flex;
}

.m-row-margin {
    margin-right: 10px;
}

.m-grow {
    flex-grow: 1;
}

.field-important {
    color: #ff0000;
}

.m-select {
    outline: none;
    width: 203px;
    height: 37px;
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
}

.m-user-date > input {
    height: 17px;
}

.m-radio-group {
    display: flex;
    /*justify-content: center;*/
    height: 37px;
    align-items: center;
}

.m-radio-item {
    display: flex;
    margin-right: 24px;
}

.m-control {
    display: flex;
}

.loading{
    display: none;
}

.loading-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 9999;
}
.loading-icon {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border: 2px solid #00ff21;
    border-bottom: none;
    animation: spin 2s linear infinite;
    z-index: 10000;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.row-selected{
    background-color: #bef2bc;
}
.row-out-seleted{
    background-color: none;
}

.warning {
    position: fixed;
    bottom: 60px;
    right: 20px;
    display: none;
    z-index: 10000;
}
.warning-notvalid {
    background-color: #FFCECE;
    height: 48px;
    line-height: 48px;
    border-radius: 4px;
    font-size: 13px;
    z-index: 1500;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

    .warning-notvalid i {
        font-size: 24px;
        color: #F65454;
    }
.m-inform {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 10000;
    display: none;
}

    .m-inform .warning-success {
        background-color: #BAFFE7;
        height: 48px;
        line-height: 48px;
        border-radius: 4px;
        font-size: 13px;
        padding: 0 15px;
        display: flex;
        align-items: center;
    }

.warning-success i {
    font-size: 24px;
    color: #01B075;
}


/**
    Pop-up thông báo
*/

#pop-up{
    position: fixed;
    top: 60px;
    right: 100px;
    width: 300px;
    padding: 24px;
    background-color: #fff;
    z-index: 1800;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: none;

}
    #pop-up i {
        font-size: 24px;
        color: #F65454;
        margin-right: 5px;
    }

    #pop-up ul{
        list-style-type: none;
        padding: 0;
    }
    #pop-up ul li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    /**
        POPUP Xóa
    */
