.m-dialog {
   display: none;
}

    .m-dialog .dialog-modal {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100vh;
        background-color: black;
        opacity: 0.5;
    }

    .m-dialog .dialog-content {
        position: absolute;
        /*width: 750px;*/
        /*height: 580px;*/
        z-index: 1000;
        top: calc(50% - 420px);
        left: calc(50% - 395px);
        background-color: #ffffff;
        border-radius: 5px;
    }
    .m-dialog .dialog-header{
        display: flex;
        padding: 24px 24px 0 24px;
        position: relative;
    }
        .m-dialog .dialog-header .dialog-header-close{
            position: absolute;
            right: 0;
            top: 0;
        }
        .m-dialog .dialog-header .dialog-header-close:hover{
            border-radius: 5px;
            
        }
            .m-dialog .dialog-header .dialog-header-close button {
                background-image: url('/content/icon/x.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 20px;
                opacity: 0.7;
                border-radius: 0 5px 0 0;
                background-color: #ffffff;
                width: 40px;
                height: 40px;
                border: none;
                outline: none;
                cursor: pointer;
            }
            .m-dialog .dialog-header .dialog-header-close button:hover{
                background-color: #cccccc;
            }
        /*Tiêu đề của dialog*/
        .m-dialog .dialog-header .dialog-header-title{
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .m-dialog .dialog-body{
            padding: 0 24px 24px 24px;
        }

    .m-dialog .dialog-footer {
        height: 60px;
        background-color: #E9EBEE;
        border-radius: 0 0 5px 5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }

            .m-dialog .dialog-footer .m-btn-cancel {
                border: none;
                outline: none;
                background: none;
                cursor:pointer;
                margin-right: 16px;
                height: 40px;
                width: 90px;
                border-radius: 5px;
            }
                .m-dialog .dialog-footer .m-btn-cancel:hover{
                    background-color: #dddddd;
                }

                #v-btnDelete {
                    height: 40px;
                    width: 90px;
                    border: none;
                    border-radius: 5px;
                    background-color: #F65454;
                    outline: none;
                    color: #ffffff;
                    position:absolute;
                    left: 24px;
                    display: none;
                }

    #v-btnDelete:hover {
        cursor: pointer;
    }

    .m-dialog .dialog-body .dialog-avatar {
        width: 203px;
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        align-items: center;
        margin-top: 16px;
        padding: 0 10px;
    }

    .m-dialog .dialog-body .m-avatar {
        background-image: url('/content/icon/default-avatar.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 170px;
        height: 170px;
        border: 1px solid #cccccc;
        border-radius: 170px;
        outline: none;
        cursor: pointer;
    }
.input-dialog-focus:focus {
    border: 1px solid #01b075;
}

.dialog-mini-header{
    margin: 0;
    font-size: 15px;
    margin-top: 20px;
}
    .dialog-mini-header:after {
        content: "";
        display: block;
        background: #019160 left center no-repeat;
        width: 100px;
        height: 4px;
        margin-top: 5px;
    }

    .m-control{
        width: 230px;
    }

    /** 
        Pop-up xóa
    */

.m-popup {
    display: none;
}

    .m-popup .popup-modal {
        position: fixed;
        z-index: 2000;
        width: 100%;
        height: 100vh;
        background-color: black;
        opacity: 0.8;
    }

    .m-popup .popup-content {
        position: absolute;
        /*width: 750px;*/
        /*height: 580px;*/
        z-index: 2000;
        top: calc(50% - 420px);
        left: calc(50% - 395px);
        background-color: #ffffff;
        border-radius: 5px;
    }
    .m-popup .popup-content .popup-title {
        padding: 24px;
        font-size: 15px;
        font-weight: bold;
    }

.popup-icon {
    position: relative;
    width: 36px;
    height: 36px;
    margin: 0px 10px 24px 24px;
    font-size: 14px;
    color: #f65454;
    background-color: #e9ebee;
    border-radius: 50%;
}

    .popup-icon i {
        margin-top: 10px;
        margin-left: 11px;
    }

.popup-text {
    margin: 8px 24px 24px 0px;
}

.popup-action {
    display: flex;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    justify-content: flex-end;
}
.m-btn-cancel2 button {
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 5px;
    background-color: #eeeeee;
    outline: none;
    margin-right: 16px;
}

    .m-btn-cancel2 button:hover {
        background-color: #dddddd;
        cursor: pointer;
    }
.m-btn-del button {
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 5px;
    background-color: #F65454;
    outline: none;
    color: #ffffff;
}
.m-btn-del button:hover{
    cursor: pointer;
}