input {
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #bbbbbb;
    width: 200px;
}

    input::placeholder {
        font-size: 11px;
    }

.input-search {
    padding-left: 40px;
}
input.border-red{
    border: 1px solid red;
}
